        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>    
                <a class="navbar-brand" href="{% url 'Cliente' %}">Clientes</a>
                <a class="navbar-brand" href="{% url 'Categoria' %}">Categorias</a>
                <a class="navbar-brand" href="{% url 'Articulo' %}">Articulos</a>
 <!--               <a class="btn btn-primary" href="#signup">Login</a> -->
            </div>
        </nav>